@font-face {
  font-family: Astropolis;
  src: url(Astropolis.ttf);
}

html {
  font-size: 1.25vh;
}

body {
  margin: 0;
  background-color: #272727;
  color: white;
}

#app {
  height: 100vh;
}

#home-container {
  height: 100%;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  #home-container {
    width: 70%;
    margin-left: 15%;
  }
}

#messenger-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.room-container {
  height: 50%;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  #messenger-container {
    flex-direction: row-reverse;
  }
  .room-container {
    height: 100%;
    width: 50%;
  }
}

h1 {
  font-family: monospace;
  margin: 0;
  font-size: 6rem;
}

#title {
  font-size: 8rem;
  font-family: Astropolis;
  animation: glow 4s infinite;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0.25rem green);
  }
  50% {
    filter: drop-shadow(0 0 1.1rem green);
  }
  100% {
    filter: drop-shadow(0 0 0.25rem green);
  }
}

h2 {
  font-family: monospace;
  font-size: 5rem;
  margin: 0;
}

h3 {
  font-family: monospace;
  font-size: 3rem;
  margin: 0;
  font-weight: normal;
}

.room-title {
  font-size: 3rem;
}

#matrix-room-title-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}

#matrix-room-title {
  color: black;
}

.message-container {
  padding: 10px 5px;
  color: black;
  cursor: pointer;
}

#tube-room-container .message-container {
  color: white;
}

#tube-room-title {
  background-color: rgba(0, 0, 0, 0.2);
}

.name {
  opacity: 0.7;
}

p {
  font-family: monospace;
  font-size: 2rem;
  margin: 0px;
}

.form-container p {
  font-size: 4rem;
}

.room-events-container {
  flex-grow: 1;
  overflow-y: scroll;
}

#tube-room-container {
  background-color: #272727;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#matrix-room-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  background-color: lightgrey;
}

#new-message-container {
  display: flex;
  width: 100%;
}

input {
  font-size: 1.5rem;
  font-family: monospace;
}

#new-message-text {
  flex-grow: 1;
}

#send-button {
  font-size: 2rem;
  font-family: monospace;
}

.forwarded {
  font-size: 1.5rem;
  opacity: 0.5;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

label {
  font-size: 3rem;
  font-family: monospace;
  display: block;
}

#create-button {
  display: block;
}

.home-input {
  font-size: 3rem;
  width: 90%;
  text-align: center;
}

.home-button {
  display: block;
  border: none;
  font-family: monospace;
  font-size: 3rem;
  border-radius: 3px;
  margin-top: 1rem;
}

.home-button:hover {
  background-color: black;
  color: white;
}

.home-button:active {
  background-color: grey;
  color: white;
}

.home-button:disabled {
  background-color: lightgrey;
  color: grey;
}

.star {
  z-index: -3;
  position: absolute;
  font-size: 1rem;
  filter: drop-shadow(0 0 0.2rem yellow);
}
