h1 {
  color: red;
  font-family: monospace;
  font-size: 5rem;
}

p {
  font-family: monospace;
  font-size: 3rem;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.room-container {
  height: 50%;
  width: 100%;
}

.room-events-container {
  height: 90%;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: row-reverse;
  }
  .room-container {
    height: 100%;
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#matrix-room-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-message-container {
  display: flex;
}

input {
  font-size: 5rem;
  width: 90%;
}

#send-button {
  font-size: 5rem;
  width: 10%;
}
